Hi <%= f_name %> can I get your last name?

<form action = "/last_name" method = "post">
  Last Name<input type="text" name="lname">
  <input type="hidden" name="fname" value=<%= f_name %>>
  <input type = "submit" value = "Submit">
</form>
